.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.initials {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: white;
  flex-shrink: 0;
}
